
<div class="p-4 border border-gray-300 rounded-md hover:shadow-md hover:border-gray-400 transition-all cursor-pointer">
  <div>
    <h2 class="text-lg font-medium">{{ form.title }}</h2>
    <p class="text-sm">{{ form.description.substring(0, 20) }}</p>
  </div>
  <div class="border-t flex justify-end mt-6 pt-4">
    <button class="px-4 py-1 text-sm bg-red-600 text-white rounded-md hover:bg-red-500 ">Delete</button>
    <button class="px-4 py-1 text-sm bg-blue-600 text-white rounded-md hover:bg-blue-500 cursor-pointer ml-2">Edit</button>
  </div>
</div>